<% provide(:title, "About") %>

<div class="col-10 offset-1">
	<p class="pre-logo">blazon is</p>
	<p class="logo">your space to talk and share what you want because every weirdo deserves to belong</p>
</div>