<% provide(:title, "Cookies") %>

<div class="col-md-8 offset-md-2 col-10 offset-1">
	<p class="pre-logo">the best</p>
	<p class="logo">chocolate chip cookies</p>
	<dt>Ingredients</dt>
	<ul>
		<li>2 1/2 cups flour</li>
		<li>1 tsp. salt</li>
		<li>1 tsp. baking soda</li>
		<li>1 cup butter, softened</li>
		<li>1 cup dark brown sugar, packed</li>
		<li>1/2 cup granulated sugar</li>
		<li>2 tsp. vanilla</li>
		<li>2 eggs</li>
		<li>12 oz. semisweet chocolate chips</li>
	</ul>
	<dt>Instructions</dt>
	<ol>
		<li>Preheat oven to 375<sup>o</sup> F. Grease cookie sheets or cover with parchment paper.</li>
		<li>Mix flour, salt, and baking soda in a bowl and set aside.</li>
		<li>In a separate bowl, beat butter and both sugars until pale in color and fluffy.</li>
		<li>To the butter mixture, add the eggs one at a time and beat until thoroughly incorporated. Add the vanilla as well.</li>
		<li>Divide the flour mixture into thirds, and add each third to butter mixture, stirring in well. Be sure to not over-mix the ingredients or the cookies will be tough and very chewy.</li>
		<li>Last, add the chocolate chips and stir in well.</li>
		<li>Drop by rounded tablespoons, 2 inches apart, on sheets. Bake 10 to 12 minutes until cookies are lightly browned. LIGHTLY means LIGHTLY. Any darker and the cookies will burn!</li>
		<li>Remove to wire rack; cool.</li>
	</ol>
</div>