<% provide(:title, "Developer") %>

<div class="col-10 offset-1">
	<p class="pre-logo">I hope you like it!</p>
	<p class="logo">I created this project for my friends and community. . .</p>
	<p>a space outside twitch and discord and twitter where we can talk and share what's on our minds with people eager to listen.</p>
	<p>If you appreciate my work here, please let me know either when I'm live on <a class="static-pages-links" href="https://www.twitch.tv/fawnnne" target="_blank">twitch</a> or through our <a class="static-pages-links" href="https://discord.gg/RwcKEHP" target="_blank">discord</a> community or on <a class="static-pages-links" href="https://www.twitter.com/fawnnne" target="_blank">twitter</a> if you're so inclined!</p>
	<p>And if you have any suggestions for new features or improvements to current ones, please reach out! You can contact me by email at <a class="static-pages-links" href="mailto: fawnnne@gmail.com" target="_blank">fawnnne@gmail.com</a> and I will try to respond as soon as possible. But please know this is a pet project and some errors may (hopefully not) be beyond the scope of my skills (for now)!</p>
</div>