<% provide(:title, "Help") %>

<div class="col-10 offset-1">
	<p class="pre-logo">having trouble?</p>
	<p class="logo">I'm sorry to hear that!</p>
	<p>Please check whether or not the bug has already been reported at this ➜ <a href="https://docs.google.com/spreadsheets/d/1QjBFSV7FKVr4dP0FUGHgeCH06t57rAcpRgjjuN6_R0s/edit?usp=sharing">google doc</a>. If it has not, feel free to add the bug to the list and give as much detail about the bug as possible. If it has and hasn't been marked "FIXED", please be patient as I will try to addresses all bugs as soon as possible. If it has and has been marked "FIXED", please clear your browser cache and try to recreate the bug. If you can recreate the bug, please mark the bug as "STILL BUGGY".</p>
	<p>Please email me at <a class="static-pages-links" href="mailto: fawnnne@gmail.com" target="_blank">fawnnne@gmail.com</a> if there's anything else that you think I should address.</p>
</div>