<% provide(:title, "Help") %>

<div class="col-10 offset-1">
	<p class="pre-logo">having trouble?</p>
	<p class="logo">I'm sorry to hear that!</p>
	<p>Please email me at <a class="static-pages-links" href="mailto: fawnnne@gmail.com" target="_blank">fawnnne@gmail.com</a>. Give me a full description of whats going on and attach any images if possible! I will reach out as soon as possible.</p>
</div>