<% provide(:title, "Terms") %>

<div class="col-md-8 offset-md-2 col-10 offset-1">
	<p class="pre-logo">our</p>
	<p class="logo">code of conduct</p>
	<p>The Blazon code of conduct is non-negotiable, so let's all work to make sure we all have fun!</p>
	<ul class="">
		<li class="">Be respectful of me, my mods, and everyone else in the community</li>
		<li class="">Trolls no trolling!</li>
		<li class="">Don't talk badly about other users</li>
		<li class="">Don't post NSFW links without forewarning</li>
		<li class="">No political or religion talk (we get enough of that on Facebook/Twitter)</li>
		<li class="">NO HATE SPEECH</li>
		<li class="">LAST BUT NOT LEAST, English only please! While I do understand a few foreign languages, I'm not fluent and many others here in chat aren't either so let's keep everyone in the know</li>
	</ul>
	<p>If you violate any of these rules you will be removed and perma-banned indefinitely from all other associated platforms</p>

</div>