<div class="modal" tabindex="-1" role="dialog" id="modalForm">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="text-center">Compose new Chirp</h5>
				<%= icon('fas', 'times') %>
				<i class="fas fa-times close" data-dimiss="modal" aria-label="Close">
			</div>
			<div class="modal-body">
				<%= render 'chirps/full_form' %>
			</div>
		</div>
	</div>
</div>