<h1>Canary</h1>

<h2>Welcome to Canary!</h2>

<p>Hey <b><%= @user.name %></b>, thanks for signing up! Please confirm your account.</p>

<%= link_to "Confirm your account", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>– The Canary Team</p>