<div class="row no-gutters padding-10">
	<div class="col-auto">
		<%= link_to current_user do %>
			<%= image_tag current_user.avatar.url, class: "profile-pic-md" %>
		<% end %>
	</div>
	<div class="col align-self-end profile-links">
		<%= link_to current_user.name, current_user, class: "profile-links-name" %><br>
		<%= link_to "@#{current_user.username}", current_user, class: "profile-links-username" %>
	</div>
</div>