<div class="row no-gutters">
	<div class="col-auto">
		<%= link_to gravatar_for(current_user, size: 75), current_user %>
	</div>
	<div class="col align-self-end profile-links">
		<%= link_to current_user.name, current_user %><br>
		<%= link_to "@#{current_user.username}", current_user %>
	</div>
</div>