<div class="profile-info-lrg">
	<%= image_tag @user.avatar.url, class: "profile-pic-lg" %>
	<div class="">
		<b><%= link_to @user.name, @user %></b><br>
		<%= link_to "@#{@user.username}", @user %>
	</div>
</div>