<% if @feed_items.any? %>
	<div class="chirps">
		<% @feed_items.each do |item| %>
			<%= render 'chirps/chirp', chirp: item %>
			<hr class="chirp-divider">
		<% end %>
	</div>
	<div class="pagination">
		<%= will_paginate @feed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
<% end %>