<% if @feed_items.any? %>
	<div class="posts">
		<% @feed_items.each do |item| %>
			<%= render 'posts/post', post: item %>
			<hr class="post-divider">
		<% end %>
	</div>
	<div class="pagination">
		<%= will_paginate @feed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
<% end %>