<% if @likedfeed_items.any? %>
	<div class="chirps">
		<% @likedfeed_items.each do |item| %>
			<%= render 'chirps/inline_chirp', chirp: item %>
		<% end %>
	</div>
	<div class="pagination">
		<%= will_paginate @likedfeed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
<% end %>