<% if @likedfeed_items.any? %>
	<div class="posts">
		<% @likedfeed_items.each do |item| %>
			<%= render 'posts/post', post: item %>
		<% end %>
	</div>
	<div class="pagination">
		<%= will_paginate @likedfeed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
<% end %>