<% provide(:title, "Update profile") %>
<% provide(:button_text, "Save changes") %>

<h1 class="text-center">Update your profile</h1>
<div class="row">
	<div class="col-3">
		<p>Profile picture</p>
		<%= gravatar_for(@user, size: 250) %>
		<%= button_to "Update", "https://gravatar.com/emails", class: "btn-round btn-primary btn-no-border" %>
	</div>
	<div class="col-6">
		<%= render 'forms/user_form' %>
	</div>
</div>