<% provide(:title, "User Index") %>

<h1 class="text-center pre-logo black">User Index</h1>
<div class="row">
	<% @users.each do |user| %>
		<div class="row no-gutters profile-info-sm">
			<%= render 'partials/profile_info_sm', user: user %>
		  <div class="col self-align-end">
				<% if current_user.admin? && !current_user?(user) %>
					<%= button_to "delete", user, class: "btn-danger btn-round btn-no-border follow-button", method: :delete, data: { confirm: "Are you sure?" } %>
				<% end %>
			</div>
			<div class="col-12">
				<p class="padding-10"><%= truncate user.bio, length: 70 %></p>
			</div>
		</div>
	<% end %>
</div>

<ul class="pagination">
	<%= will_paginate %>
</ul>