<% provide(:title, @title) %>

<%= render 'layouts/profile_nav' %>
<div class="row">
	<!-- User profile -->
	<div class="col-md-3">
		<%= render "partials/profile_info_lrg" %>
		<%= render "partials/profile_album" %>
	</div>
	<!-- Chirps -->
	<div class="col-md-6">
		<% @chirps.each do |chirp| %>
			<div class="users liked-chirps">
				<%= render 'chirps/inline_chirp', chirp: chirp %>
			</div>
		<% end %>
	</div>
	<!-- Who to follow??? -->
	<div class="col-md-3">
		<h3>Who to follow</h3>
	</div>
</div>