<% if @feed_items.any? %>
	<div class="chirps">
		<%= render @feed_items %>
	</div>
	<div class="pagination">
		<%= will_paginate @feed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
<% end %>