<% @user ||= current_user %>
<div class="stats">
	<a href="<%= following_user_path(@user) %>">
		<small id="following" class="stat"><%= @user.following.count %> following</small>
	</a>
	<a href="<%= followers_user_path(@user) %>">
		<small id="followers" class="stat"><%= @user.followers.count %> followers</small>
	</a>
</div>