<% @user ||= current_user %>
<div class="stats row">
	<div class="col-6">
		<a href="<%= following_user_path(@user) %>">
			<small id="following" class="stat"><b>Following</b><br><%= @user.following.count %></small>
		</a>
	</div>
	<div class="col-6">
		<a href="<%= followers_user_path(@user) %>">
			<small id="followers" class="stat"><b>Followers</b><br><%= @user.followers.count %></small>
		</a>
	</div>
</div>