@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

body, .container, .container-fluid {
	padding: 0 !important;
	margin: 0 !important;
	// background-color: #fffde7;
}

section {
	overflow: auto;
}

textarea {
	resize: none;
}

button {
	border-radius: 25px;
	border: none;
	padding: 5px 15px;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

/* nav */

/* chirps */

.inline-chirp {
	border-bottom: 1px solid #eaeaea;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
}

.inline-chirp-avatar {
	border-radius: 25px;
}