@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@font-face {
  font-family: 'Harabara';
  src: font-url('Harabara.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* universal */

body, .container, .container-fluid {
	padding: 0 !important;
	margin: 0 !important;
	color: #eaeaea;
	overflow-x: hidden;
	background-color: #212529;
	font-size: 14px;
}

p {
	margin-bottom: 10px;
}

section {
	overflow: auto;
}

textarea {
	resize: none;
}

hr {
	border: 1px solid #212529;
}

hr.hr-vertical {
	width: 3px;
	height: 100%;
	margin-top: -50%;
	background-color: #e68318;
}

nav sup {
	border-radius: 10px;
	padding: 0 4px;
	margin-left: -5px;
	background-color: #e68318;
	color: #fff;
}

.jumbotron {
	background-color: #212529;
}

.padding-10 {
	padding: 10px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.negative-margin-10 {
	margin: -10px -10px 10px -10px;
}

/* buttons */

.btn-round {
	border-radius: 25px;
	border: 1px solid #e68318;
	padding: 5px 15px;
	&:hover {
		cursor: pointer;
	}
}

.btn-no-border {
	border: none;
}

.btn-primary {
	background-color: #e68318;
	&:hover, &:focus {
		background-color: #b36512;
	}
	&:active {
		background-color: #b36512;
	} 
}

.btn-outline-primary {
	border-color: #e68318;
	color: #e68318;
	&:hover, &:focus {
		color: #fff;
		background-color: #e68318;
		border-color: #e68318;
	}
}

.btn-post-new {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	z-index: 1050;
	font-size: 36px;
	cursor: pointer;
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.pagination {
	width: 100%;
	margin-top: 50px;
}

/* header */

header {
	border-bottom: 2px solid #212529;
}

.icon {
	display: block;
	margin: auto;
}

.dark-icon, .light-icon {
	width: 35px;
	height: auto;
}

.light-icon {
	display: none;
}

#header_mobile {
	display: none;
}

/* nav */

.navbar {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	min-height: 45px;
}

.dropdown-menu {
	background-color: #343a40;
}

.dropdown-item {
	color: #eaeaea;
	&:hover, &:active, &:focus {
		background-color: #e68318;
		color: #eaeaea;
	}
}

.search {
	border-radius: 25px;
	border: 1px solid #e68318;
	background-color: #212529;
	font-size: .8rem;
	color: #fff;
}

.search input[type=text] {
	border: none;
	border-radius: 25px;
	width: 80%;
	height: 70%;
	background-color: transparent;
	box-shadow: none;
	&:active, &:focus, &:hover {
		box-shadow: none;
		border: none;
		border-radius: 25px;
	}
}

.search button {
	border: none;
	margin: 0px 5px;
	background-color: transparent;
	color: #8c8c8c;
	&:hover {
		cursor: pointer;
	}
}

#q {
	max-width: 200px;
	min-width: 100px;
	box-shadow: none;
}

#eac-container-q {
	width: 150%;
	top: 50px;
	line-height: auto;
	ul {
		border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 5px;
		box-shadow: none;
		li {
			border: none;
			&:first-of-type {
				border-radius: 5px 5px 0px 0px;
			}
			&:last-of-type {
				border-radius: 0px 0px 5px 5px;
			}
		}
	}
}

nav a, .form-link {
	color: #8c8c8c;
	font-weight: bold;
	font-size: .8rem;
	&:hover {
		color: #e68318;
		text-decoration: none;
	}
}

/* main content */

main {
	margin-top: 10px;
	margin-bottom: 100px;
}

.profile {
	background-color: #343a40;
	margin-bottom: 10px;
	overflow: hidden;
}

.profile-nav, .search-term {
	width: 102vw;
	position: relative;
	left: calc(-1 * (100vw - 100%) / 2);
	border-bottom: 2px solid #212529;
	margin-top: -10px;
	margin-bottom: 10px;
	min-height: 45px;
}

.profile-nav-item {
	padding-left: 10px;
	padding-right: 15px;
	line-height: 1.25;
}

.profile-nav-button {
	position: absolute;
	z-index: 100;
	top: 5px;
	right: 15px;
}

.profile-info-sm {
	width: 95%;
	margin: 10px 20px;
	background-color: #343a40;
}

.profile-info-md {
	width: 95%;
	margin: 10px 20px;
	background-color: #343a40;
}

.profile-info-follow {
	width: 95%;
	margin: 10px 20px;
	background-color: #343a40;
}

.profile-info-lrg {
	margin-top: -175px;
}

.profile-pic-xl, .profile-pic-lg, .profile-pic-md, .profile-pic-sm, .profile-pic-xs {
	border-radius: 50%;
}

.profile-pic-xl {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 300px;
}

.profile-pic-lg {
	max-width: 200px;
	max-height: 200px;
	border: 7px solid #212529;
	margin-bottom: 10px;
}

.profile-pic-md {
	width: 75px;
	height: 75px;	
}

.profile-pic-sm {
	width: 50px;
	height: 50px;
}

.profile-pic-xs {
	width: 35px;
	height: 35px;
}

.profile-cover-container {
	display: block;
	width: 100vw;
	height: 300px;
	overflow: hidden;
	position: relative;
	left: calc(-1 * (100vw - 100%) / 2);
	margin-top: -10px;
}

.profile-cover-lg {
	min-height: 100%;
	min-width: 100%;
}

.profile-cover-sm-container {
	display: block;
	height: 100px;
	overflow: hidden;
	margin-bottom: -40px;
}

.profile-cover-sm {
	max-width: calc(100% + 20px);
}

.profile-links, .post-content {
	margin-left: 5px;
}

.profile-links-name {
	font-size: 1.2rem;
	line-height: .8rem;
	font-weight: bold;
	color: #fff;
	&:hover {
		text-decoration: underline;
		color: #fff;
	}
}

.profile-links-username {
	font-size: .8rem;
	color: #eaeaea;
	&:hover {
		text-decoration: underline;
		color: #eaeaea;
	}
}

.profile-stat-link:hover {
	text-decoration: none;
}

.profile-stat-heading {
	font-size: .8rem;
	color: #8c8c8c;
	font-weight: bold;
	&:hover {
		color: #e68318;
	}
}

.profile-stat-number {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: .8rem;
	color: #e68318;
}

.trending, .suggestions {
	background-color: #343a40;
	margin-bottom: 10px;
	padding: 10px;
	height: 400px;
}

.posts-feed {
	margin-left: 10px;
	margin-right: 10px;
}

.search-term {
	background-color: #e68318;
	h3 {
		color: #fff;
		margin: 15px 20px;
		text-transform: lowercase;
	}
}

.follow-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.footer {
	width: 100%;
	padding: 10px;
	background-color: #343a40;
}

.footer, .footer a {
	color: #8c8c8c;
}

.footer a:hover {
	color: #e68318;
}

/* users */

.user-submit {
	margin-top: 15px;
}

.file-container {
    overflow: hidden;
    position: relative;
}

.file-container [type="file"] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.file-container-label {
	font-weight: bold;
	color: #e68318;
	cursor: pointer;
}

/* posts */

button.post {
	margin: 0 !important;
}

.post {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	background-color: #343a40;
}

.post-avatar {
	border-radius: 25px;
}

.post-name {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.post-username {
	color: #eaeaea;
	&:hover {
		color: #eaeaea;
	}
}

.post-date {
	color: #eaeaea;
}

.post-content {
	text-align: left;
	& p > a {
		color: #eaeaea;
	}
}

.post-picture {
	width: 100%;
}

.post-footer {
	padding-top: 10px;
	& a {
		color: #e68318;
		&:hover {
			color: #b36512;
		}
	}
}

.post-context {
	color: #eaeaea;
	margin: 0px;
}

.post-divider {
	margin: 0px;
}

.post-excerpt {
	border-radius: 5px;
	border: 1px solid #eaeaea;
	padding: 10px;
}

.post-header {
	margin: 0 0 5px 35px;
}

.post-likes {
	display: inline;
}

.post-reply {
	margin-top: 10px;
}

.mention-item {
  display: inline-block;
  height: 2.0rem;
  font-size: 1.1rem;
  img {
    height: 2.0rem;
    margin-left: 0.25rem;
  }
}

/* messages */

.message-field {
	width: 100%;
	padding: 25px 0;
	background-color: #343a40;
}

.message-form-content, .form-content {
	border-radius: 10px;
	border: 2px solid #e68318;
	background-color: #212529;
	&:active, &:focus {
		border-radius: 10px;
		border: 4px solid #e68318;
		background-color: #212529;
		box-shadow: none;
	}
}

.message-form-content {
	margin-right: 10px;
}

.message-content {
	padding: 5px 15px;
}

.message-from {
	border-radius: 25px 25px 25px 0;
	background-color: #e6ecf0;
}

.message-to {
	border-radius: 25px 25px 0 25px;
	background-color: #e68318;
	color: #fff;
}

.message-previous i {
	width: 100%;
	text-align: center;
	margin: auto;
	color: #8c8c8c;
	&:hover {
		color: #8c8c8c;
	}
}

.message-last {
	margin-left: 40px;
	color: #8c8c8c;
}

.message-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* alerts */

.alert {
	margin-bottom: 0 !important;
}

/* forms */

.post-form, .message-form {
	padding: 10px;
	padding-bottom: 5px;
	background-color: #403529;
}

.form-align-right {
	padding-left: 25px;
}

.reply-form, .repost-form {
	width: 100%;
	padding: 20px;
	background-color: #fcf3e8;
}

textarea, input[type="text"], input[type="date"], input[type="password"] {
	border-radius: 10px;
	border: 1px solid #e68318;
	background-color: #212529;
	box-shadow: none;
	&:active, &:focus {
		border-radius: 10px;
		border: 2px solid #e68318;
		background-color: #212529;
		box-shadow: none;
	}
}

.input-group-text {
	background-color: #e68318;
	color: #fff;
	border-color: #e68318;
}

/* modals */

.modal-content, .modal-body {
	padding: 0;
	margin: 0;
	border-radius: 5px;
	background-color: #343a40;
}

.modal-padding-20 {
	padding: 20px;
}

/* backgrounds */

/* text */

h3 {
	margin-top: 15px;
}

.pre-logo {
	font-size: 33px;
	font-weight: bold;
	text-transform: lowercase;
	margin-bottom: -10px;
	color: #e68318;
}

.logo {
	font-family: 'Harabara';
	font-size: 100px;
	line-height: 75px;
	color: #e68318;
}

.static-pages-links {
	font-weight: bold;
	color: #8c8c8c;
	&:hover {
		color: #e68318;
	}
}

.black {
	color: #000;
}

/** breakpoints */

@media (max-width: 650px) {
	.profile-nav-item:first-of-type {
		margin-left: 10px;
	}

	.pre-logo {
		font-size: 25px;
		line-height: 50px;
	}

	.logo {
		font-size: 50px;
		line-height: 35px;
	}
} 

@include media-breakpoint-up(sm) {
  html {
    font-size: .9rem;
  }

	.profile-info-sm, .profile-info-md {
		width: 47.5%;
	}
}

@include media-breakpoint-up(md) {
  html {
    font-size: .9rem;
  }

	.profile-info-sm {
		width: 31.5%;
	}

	.profile-info-follow {
		width: 47.5%;
	}
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
	.profile-info-sm {
		width: 23.5%;
	}

	.profile-nav-button {
		position: absolute;
		z-index: 100;
		top: 5px;
		right: calc((100vw / 6) + 20px);
	}
}

@media (min-width: 1650px) {
	.profile-info-md {
		width: 31.5%;
	}
}