@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

body, .container, .container-fluid {
	padding: 0 !important;
	margin: 0 !important;
	color: #1d292f;
	overflow-x: hidden;
	// background-color: #c0deed;
}

p {
	margin-bottom: 10px;
}

section {
	overflow: auto;
}

textarea {
	resize: none;
}

.btn-round {
	border-radius: 25px;
	border: 1px solid #343a40;
	padding: 5px 15px;
	&:hover {
		cursor: pointer;
	}
}

.btn-no-border {
	border: none;
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.pagination {
	margin-top: 50px;
}

/* header */

header {
	border-bottom: 2px solid #eaeaea;
}

#logo {
	font-size: 1.5em;
	color: #1d292f;
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		color: #697075;
		text-decoration: none;
	}
}

/* nav */

.navbar {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.search {
	border-radius: 25px;
	font-size: .8em;
}

/* main content */

main {
	margin-top: 10px;
	margin-bottom: 100px;
}

.profile-nav {
	width: 100vw;
	position: relative;
	left: calc(-1 * (100vw - 100%) / 2.1);
	border-bottom: 2px solid #eaeaea;
	margin-top: -10px;
	margin-bottom: 10px;
}

.profile-info-sm {
	width: 32%;
	margin: 10px 0 0 10px;
}

.profile-info-lrg {
	margin-top: -60px;
}

.profile-links, .chirp-content {
	margin-left: 5px;
}

/* chirps */

.profile-pic-xs {
	margin-left: 25px;
}

button.chirp {
	margin: 0 !important;
}

.chirp {
	width: 100%;
	border: none;
	border-bottom: 1px solid #eaeaea;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
}

// .chirp:last-of-type {
// 	width: 100%;
// 	border: none;
// 	border-radius: 5px;
// 	padding: 10px;
// 	background-color: #fff;
// }

.chirp-avatar {
	border-radius: 25px;
}

.chirp-content {
	text-align: left;
}

/* alerts */

.alert {
	margin-bottom: 0 !important;
}